numpy>=1.24
pandas>=2.0
plotly>=5.0
datasets
matplotlib
seaborn
ipykernel

torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
-f https://download.pytorch.org/whl/cu121

torch_geometric
pyg_lib
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
-f https://data.pyg.org/whl/torch-2.5.0+cu121.html

networkx
ogb>=1.3.6

transformers==4.47.0
